@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap);
* {
  margin: 0;
  padding: 0;
}

.companies_container {
  margin-left: 15%;
}
.companies_container .companies_list {
  display: grid;
  flex-wrap: wrap;
  list-style: none;
  grid-template-columns: 550px 550px;
}
.companies_container .companies_list .companies_elements {
  border: 0.5px solid #ccc;
  border-radius: 5px;
  margin: 18px;
  height: 680px;
  text-align: center;
  position: relative;
}
.companies_container .companies_list .companies_elements:hover {
  opacity: 0.5;
}
.companies_container .companies_list .companies_elements .companies_link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
.companies_container .companies_list .companies_elements .companies_name {
  font-size: 2rem;
  color: #000;
  margin-top: 20px;
  font-family: "Noto Sans JP", sans-serif;
}
.companies_container .companies_list .companies_elements .companies_name:hover {
  text-decoration: none;
}
.companies_container .companies_list .companies_elements .deadline {
  font-size: 1.2rem;
  text-align: right;
  margin-right: 30px;
  color: #000;
  font-family: "Noto Sans JP", sans-serif;
}
.companies_container .companies_list .companies_elements .companies_pic {
  width: 460px;
}
.companies_container .companies_list .companies_elements #edit_btn {
  float: right;
  display: block;
  position: absolute;
  bottom: 20px;
  right: 30px;
}
.companies_container .companies_list .companies_elements #delete_btn {
  float: right;
  display: block;
  position: absolute;
  bottom: 20px;
  right: 105px;
}
